<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram2</title>
    <!-- we have not written full path because in index we have defined public so express will take files from there -->
    <link rel="stylesheet" href="/style.css">

</head>

</html>