<% layout("/layouts/boilerplate.ejs") -%>

<body>
  <h3>All listings</h3>
  <form action="/listings/new" method="get">
    <button type="submit">Create New Listing</button>
  </form>
  <ul>
    <% for(let listings of allListings) { %>
    <li><a href="/listings/<%=listings._id%>"><%= listings.title%> </a></li>
    <% } %>
  </ul>
</body>
