<% layout("/layouts/boilerplate.ejs") -%>

<body>
  <h3>All listings</h3>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listings of allListings) { %>
    <a href="/listings/<%=listings._id%>" class="listing-links">
      <div class="card col">
        <img
          src="<%= listings.image%>"
          class="card-img-top"
          alt="listing_image"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <h5 class="card-title"><%= listings.title%></h5>
          <% if(listings.price != null) { %>
            &#8377 <%= listings.price.toLocaleString("en-IN")%>
          <% } %>
        </div>
      </div>
    </a>
    <% } %>
  </div>
  
</body>
