<%- include("includes/head.ejs") %>

    <body>
        <h1>This is a home page</h1>
        <!-- interpolation  Below-->
        <h2>2*5</h2>
        <h2>
            <%= 2*5 %>
        </h2>
        <h2>
            <%= "Kuldeepsinh Jhala" .toUpperCase(); %>
        </h2>
        <h3>
            <%= ["hello", "bonjour" , "namaste" ][0] %>
        </h3>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus non nemo pariatur incidunt velit libero
            itaque
            nihil at aliquam, animi quae, dignissimos possimus ratione neque inventore rem! Obcaecati consequatur harum
            explicabo ab, provident nulla! Illo eligendi asperiores repudiandae possimus perferendis, blanditiis ducimus
            expedita neque, dolores earum corporis officiis corrupti aperiam consectetur velit illum cum ex dolorem sint
            perspiciatis enim. Doloremque veniam dolor reiciendis mollitia maiores, aut eius sequi expedita, atque
            praesentium debitis corrupti voluptas vel impedit totam non magnam excepturi natus voluptatem eum amet
            adipisci?
            Sequi asperiores reiciendis fuga distinctio voluptas voluptates praesentium ut sit, quod eligendi quo,
            repellendus ab!</p>
        <button>Click me</button>
    </body>

    </html>