<%- include("includes/head.ejs") %>

    <body>
        <h1>This account belongs to <%= username %>
        </h1>
        <button>Follow</button>
        <button>Message</button>
        <h2>Celebrities follow you:</h2>

        <ul>
            <%for(name of followers) {%>
                <li>
                    <%= name %>
                </li>
                <%}%>
        </ul>

    </body>

    </html>